@media screen and (min-width:768px) and (max-width:1440px) {
    header{
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
        background-color: bisque;
        position: sticky;
        top: 10px;
        z-index: 9999;
    }
    li a{
        text-decoration: none;
        color: red;
    }
    .linkcontainer{
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        list-style: none;
    }
    .banner{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        background-color: burlywood;
        align-items: center;
        border-radius: 20px;
        gap: 60px;
    }
    .item{
        height: 200px;
        width: 200px;
        background-color:beige;
        color: black;
        text-align: center;
        align-content: center;
        margin: 20px;
        border-radius: 15px;
        transition: all 1s ease;
        transform-style: preserve-3d;
    }
    @keyframes items {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(30px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .itemcontainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
    .items:hover{
        animation: items 2s ease infinite normal;
        cursor: pointer;
    }
    footer{
        text-align: center;
        background-color:antiquewhite;
        margin-top: 20px;
    }
    .front{
        background-color:bisque;
    }
    .back{
        background-color: crimson;
        color: aliceblue;
        transform: rotateY(180deg);
    }
    .facecard{
        position: absolute;
        backface-visibility: hidden;
        text-align: center;
        align-content: center;
        border-radius: 15px;;
    }
    .items:hover .item{
        transform: rotateY(180deg);
    }
    .items{
        height: 200px;
        width: 200px;
        gap: 20px;
        margin: 20px;
        perspective: 1000px;
    }
    body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}
@media screen and (max-width:767px){
    header{
        border: 2px solid black;
        background-color: bisque;
        text-align: center;
        position: sticky;
        top: 10px;
        z-index: 9999;
    }
    .linkcontainer{
        display: none;
    }
    .banner{
        margin-top: 20px;
        background-color: burlywood;
        text-align:  center;
        border-radius: 20px;
        align-items: center;
    }
    .banner img{
        display: none;
    }
    .item{
        height: 200px;
        width: 200px;
        background-color:beige;
        color: black;
        text-align: center;
        align-content: center;
        margin: 10px;
        border-radius: 15px;
    }
    .itemcontainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    footer{
        text-align: center;
        background-color:antiquewhite;
    }
    @keyframes items {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(20px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .items:hover{
        animation: items 2s ease infinite normal;
        cursor: pointer;
    }
    .front{
        background-color: chocolate;
    }
    .back{
        background-color: crimson;
        color: aliceblue;
        transform: rotateY(180deg);
    }
    .facecard{
        position: absolute;
        backface-visibility: hidden;
        text-align: center;
        align-content: center;
        border-radius: 15px;;
    }
    .items:hover .item{
        transform: rotateY(180deg);
    }
    .items{
        perspective: 1000px;
    }
}